<div class="dialog">
  <div class="dialog__header">
    <div class="dialog__title title-font">
      <span class="icon">
        <mat-icon>{{ data.mode === 'create' ? 'add' : 'edit' }}</mat-icon>
      </span>
      {{ data.mode === 'create' ? 'Adicionar Vacina' : 'Editar Vacina' }}
    </div>

    <button mat-icon-button type="button" class="close" (click)="cancel()" aria-label="Fechar">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog__body" [formGroup]="form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Nome da vacina</mat-label>
      <mat-select formControlName="catalogName">
        <mat-option *ngFor="let c of catalog" [value]="c.name">{{ c.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <div class="grid">
      <mat-form-field appearance="outline">
        <mat-label>Data aplicada</mat-label>
        <input matInput [matDatepicker]="applied" formControlName="appliedAt" />
        <mat-datepicker-toggle matIconSuffix [for]="applied"></mat-datepicker-toggle>
        <mat-datepicker #applied></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Próxima dose</mat-label>
        <input matInput [matDatepicker]="next" formControlName="nextDoseAt" />
        <mat-datepicker-toggle matIconSuffix [for]="next"></mat-datepicker-toggle>
        <mat-datepicker #next></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="grid">
      <mat-form-field appearance="outline">
        <mat-label>Veterinário</mat-label>
        <input matInput placeholder="Ex: Dra. Ana" formControlName="vetName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let s of statusOptions" [value]="s.value">{{ s.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="dialog__actions">
    <button mat-stroked-button class="btn-outline" type="button" (click)="cancel()">
      Cancelar
    </button>

    <button mat-raised-button class="btn-primary" type="button" (click)="save()">
      <mat-icon>check</mat-icon>
      Salvar
    </button>
  </div>
</div>